#map {
	height: 100%;
	z-index: 0;
}

#kirjoitusboksi {
	z-index: 1;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #242f3e;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-transform: uppercase;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#hakukentta {
	bottom: 5%;
	left: 3%;
	width: 25%;
	position: absolute;
	z-index: 1;
}

#hakukentta2 {
    bottom: 0%;
    right: 3%;
    width: 30%;
    position: absolute;
    z-index: 1;
    visibility: hidden;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-shadow: 0px 0px 30px rgba(255,255,255,0.7);
    border: 5px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.7);
}

#hide {
    visibility: hidden;
}

#start2 {
    background-color: #45a049;
    border-top-left-radius: 6px; 
    border-top-right-radius: 5px; 
}

#planeInfo, #carInfo {
    margin-left: 15px;
    font-size: 18pt;
}

#planeStats, #carStats {
    margin-left: 10px;
    font-size: 30pt;

}
#end2 {
    background-color: rgb(50,90, 255);
}

#end23 {
    background-color: rgb(50,90, 255);
    bottom: 5%;

}